html, body {

margin: 0;
padding: 0;
height: 100%;
box-sizing: border-box;
font-family: Arial, Helvetica, sans-serif;
}


.parallax1 {
    position: relative;
    background-image: url("../IMG/DSC_0002.jpg") ;
    height: 100%;
    opacity: 0.85;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.caption {
    position: relative;
    display: flex;
    left: 15%;
    top:30%;
    width: 70%;
}

.caption span.border{
    background-color: gray;
    color: blue;
    border: 1px solid black;
    padding: 0px;
    font-size: 30px;
    text-align: center;
    letter-spacing: 10px;
}

.box{
    display: flex;
    align-items: center;
    width: 100%;
    background-color: gray;
    text-align: justify;
    border: 1px solid black;
}


.parallax2 {
    position: relative;
    background-image: url("../IMG/DSC_00041.jpg") ;
    height: 100%;
    opacity: 0.85;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax3 {
    position: relative;
    background-image: url("../IMG/DSC_0674.jpg") ;
    height: 100%;
    opacity: 0.85;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}












